<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrthancService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <!--<target name="logfile" xsi:type="File" fileName="c:\temp\ExportDiag.${shortdate}.${processid}.log.txt" layout="${longdate} ${callsite} ${level} ${message}"/>-->
        <target name="console" xsi:type="Console"/>
        <target xsi:type="EventLog" name="EventLog" layout="${message}" source="Orthanc Service" eventId="55436" log="Application"/>
      </targets>
      <rules>
        <!--<logger name="*" minLevel="Error" writeTo="logfile"/>
        <logger name="*" minLevel="Info" writeTo="logfile"/>-->
        <logger name="*" minLevel="Info" writeTo="console"/>
        <logger name="*" minLevel="Error" writeTo="EventLog"/>
      </rules>
    </nlog>
    <applicationSettings>
        <OrthancService.Properties.Settings>
            <setting name="ExeAbsolutePath" serializeAs="String">
                <value>C:\Orthanc\Orthanc-0.8.2-Release.exe</value>
            </setting>
            <setting name="ExeArgumentsOrLeaveBlank" serializeAs="String">
                <value />
            </setting>
            <setting name="RetryPhase1IntervalFloatSec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RetryPhase1MaxRettryCounts" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RetryPhase2IntervalFloatSec" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="RetryPhase2MaxRetryCounts" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProcessCheckIntervalFloatSec" serializeAs="String">
                <value>30.25</value>
            </setting>
        </OrthancService.Properties.Settings>
    </applicationSettings>
</configuration>