<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/Orthanc/OrthancService.log" layout="${longdate} ${callsite} ${level} ${message}"/>
        <target name="console" xsi:type="Console"/>
        <target name="debug" xsi:type="Debugger"/>
        <target name="EventLog" xsi:type="EventLog" layout="${message}" source="Orthanc Service" eventId="55436" log="Application"/>
      </targets>
      <rules>
        <logger name="*" minLevel="Trace" writeTo="debug"/>
        <logger name="*" minLevel="Info" writeTo="logfile"/>
        <logger name="*" minLevel="Debug" writeTo="console"/>
        <logger name="*" minLevel="Error" writeTo="EventLog"/>
      </rules>
    </nlog>
</configuration>